/**
 * CRAWLAB theme for reveal.js
 *
 * Created by: Joshua Vaughan - joshua.vaughan@louisiana.edu
 * 
 * Adapted from blood theme that was created by
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
 /* #f8f8f */
body {
  background: #ffffff;
  background-color: #ffffff;}

.reveal {
  font-family: Avenir, Helvetica Neue, Arial, Ubuntu, "sans-serif";
  font-size: 36px;
  font-weight: normal;
  color: #222; 

  /* Add Fluer di Lis to the top right */
  background-image: url('gt-logo-colors4.png');
  background-size: 10%;
  background-position: 99% 1%;
  background-repeat: no-repeat;

    /* Add Fluer di Lis to the top right */
    /* background-image: url('chevron.png');
    background-size: 5%;
    background-position: 1% 99%;
    background-repeat: no-repeat; */
  }
 


@media screen and (max-width:1000px){
    /* Scale Fleur de lis up to 10% of width for small screens */
    .reveal{
       background-size: 15%;
    }
}

/* Background resizing based on window/screen width */
@media screen and (max-width:700px) {
    /* Scale Fleur de lis up to 10% of width for small screens */
    .reveal{
       background-size: 15%;
    }
}

/* Background resizing based on window/screen width */
@media screen and (max-width:700px) and (orientation:landscape){
    /* Scale Fleur de lis up to 10% of width for small screens */
    .reveal{
       background-size: 8%;
    }
}

::selection {
  color: #fff;
  background: #003057;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }


/*********************************************
* Instructions modal dialog
*********************************************/
.ui-widget {
    font-family: Avenir, Helvetica Neue, Arial, Ubuntu, "sans-serif";
    color: #eee; 
    border: 4px solid #003057;
    width: 50%;
    height: 50%;
    text-align: center;
    -moz-border-radius: 10px ;
	border-radius: 10px;
}

.ui-widget-header {
    background: #003057;
    font-weight: bold;
    height: 30px;

}

.ui-dialog-content {
    text-align: left;
    margin-left: 5px;
}

.Instructions
{
    background-color: #EAEAEA;
    z-index: 999;
    color: #003057;
    max-width: 640px;
}

.ui-button {
     background: #003057;
     max-width: 200px;
     margin-bottom: 5px;
}

.ui-button-text { 
    color: #eee;
    font-size: 1.55em;
}

.ui-dialog-titlebar-close {
  display: none;
}


.ui-dialog-title {
    color: #eee; 
    font-size: 1.55em;
}



/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0px 0 20px 0;
  color: #003754;
  font-family: Avenir, Helvetica Neue, Arial, Ubuntu, "sans-serif";
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
/*   text-transform: uppercase; */
  text-shadow: 2px 2px 2px #222;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.5em; 
  text-align: left; }

.reveal h3 {
  font-size: 2.0em;
  text-align: left;  }

.reveal h4 {
  font-size: 1em; 
  text-align: left; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 15px 0;
  font-size: 1.5em;
  line-height: 1.3; 
  text-align: center;}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
/*   display: inline-block; */
  text-align: left;
  margin: 0 0 0 2em; }
  

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal li {
  font-size:1.5em;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table tfoot {
  font-weight: bold; 
  border-top: 5px double; }
  
.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table thead {
  border-bottom: 5px double; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #003057;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #dd5566;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #6a1520; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.0);
  /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
  /* filter: drop-shadow(5px 5px 5px #222); */
}

.reveal section img.plot {
  margin: 0% 0%;
  background: rgba(255, 255, 255, 0.12);
  height: 300%;
  width: 300%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);  */
}

.reveal section img.animation {
  margin: 0% 0%;
  background: rgba(255, 255, 255, 0.12);
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #003057;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * Navigation footer help
 *********************************************/
.reveal .footer {
  position: absolute;
  bottom: 0.125em;
  left: 0.125em;
  font-size: 0.5em;
  color: #003057;
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #003057; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #003057; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #003057; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #003057; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #dd5566; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #dd5566; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #dd5566; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #dd5566; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #003057;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal p {
  font-weight: 300;
  /* text-shadow: 1px 1px #222;  */
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700; }

.reveal p code {
  background-color: #23241f;
  display: inline-block;
  border-radius: 7px; }

.reveal small code {
  vertical-align: baseline; }


/** Bug fix hacks - as of 01/18/16 ******/
.reveal > .slides > section > section {
transform-style: flat;
}

/*********************************************
 * ANIMATIONS
 *********************************************/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.reveal section div.slide {
  position:relative; 
  /* width:1920px;  */
  width:1800px;
  height:1080px; 
  margin:0 auto;
  justify-content: center;
}

.reveal section h2.header {
  margin-top:-25px;
  margin-bottom:0;
}

.reveal section h4.footer { 
  position:absolute;
  left:6.5%;
  top:76%;
  border:0;
  font-size:2.0em;
}

.reveal section img.footer {
  position:absolute;
  top:0%;
  left:0%;
  border:0;
  height:100%;
}

.reveal section img.right_image {
  display:inline-block;
  position: absolute;
  top: 52.5%; 
  left: 75%;
  transform: translate(-50%,-50%);
  height:83%
}

.reveal section img.left_image {
  display:inline-block;
  position: absolute;
  top: 52.5%; 
  left: 25%;
  transform: translate(-50%,-50%);
  height:83%
}

.reveal section img.center_image {
  vertical-align:middle;
  top: 52.5%; 
  height:83%
}

.reveal section img.center_image_width {
  vertical-align:middle;
  top: 52.5%; 
  width:100%;
}

.reveal section img.center_plot {
  vertical-align:middle;
  position:relative;
  margin-top:1em; 
  width:75%;
}

.reveal section img.right_plot {
  /* position:absolute; */
  /* right:0%; */
  margin-top: 2em; 
  width:100%
}

.reveal section div.footer {
  position:absolute;
  left:0px;
  bottom:1%;
  height:15%;
  width:100%;
}
.reveal section div.left_text {
  position:relative;
  left:0px;
  top:5%;
  width:50%;
}
.reveal section div.left_text_abs {
  position:absolute;
  left:0px;
  top:15%;
  width:50%;
}

.reveal section div.right_text_abs {
  position:absolute;
  left:50%;
  top:15%;
  width:50%;
}

.reveal section div.full_text {
  position:relative;
  left:0px;
  top:5%;
  width:100%;
}

.reveal section div.center_emphasis {
  position:relative;
  top:10%;
  background-color:rgba(255, 255, 255, 1.0);
  box-shadow: 5px 10px 8px #888888;
  border:3pt solid black;
}